body {
  padding: 10px;
}
header {
  border: 1px black dashed;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
footer {
  border: 1px black dashed;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
#hello-world {
  border: 1px black dashed;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
#hello-world > div {
  text-align: justify;
}
#about-me {
  border: 1px black dashed;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
#my-skills {
  border: 1px black dashed;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
#my-way {
  border: 1px black dashed;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
#my-portfolio {
  border: 1px black dashed;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
#skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-around;
}
#skills > div {
  flex-grow: 1;
  flex-basis: 30%;
  min-width: 200px;
  padding: 10px;
  margin: 5px;
}
i {
  padding-right: 4px;
}
ul > li {
  list-style: none;
}
li:before {
  content: "\f14a"; 
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; 
  width: 1.3em;
}
a{
  text-decoration: none;
}

ul#contact-me > li{
  transition: 2s ease;
  width:150px;
  
}
ul#contact-me > li:hover{
  transform: translate(2%);
	transition: transform 0.5s ease;
}
i {
  transition: 1s ease;
}
i:hover{
transform: rotate(360deg) scale(1.2);}